img{max-width: 100%;}
.b-items_cats-one-img{
    position: relative;
    float: left;
    width: 100%;
}
.b-items{padding-bottom: 20px;}
.b-items_cell, .b-items_cell-info{
    margin: 10px;
    width: 370px;
    height: auto;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.b-items_cats-one-img>img{position: absolute;width: 100%;height: 100%;object-fit: cover;}
.b-items_cats-one-img:after{content: '';display: block;padding-top: 70%}

.b-items_cats-one-img .img-responsive{width: 100%;}
.price{float: right;color: #de483d;font-size: 16px;font-weight: 700;position: relative;top:-2px;}
.b-items_cell-info-km p{font-size: 14px; text-align: right;}
.year{margin:2;color: #888; font-size: 17px;}
.year span{font-size: 14px;}

.b-items_cell-info-title {
    padding-bottom: 20px;
    margin: 20px 0;
}

.card-txt{color: #888;
          font-weight: 700;font-size: 14px;}
.top-banner img{max-width: 100%;margin-top: 15px}
.b-footer{background-color: #003d83}
.b-footer a, .b-footer p{color: #fff;}
.b-details_head h3{font-size: 17px}
.b-search_main{
    margin-top: -50px;
    padding-bottom:0;
}
.text-danger{color:red;}
.b-related .b-auto_main-item{margin-bottom: 15px;}

.row-smallPadding{
    height: 20px;
}
.row {
    margin-top: 80px;
    margin-right: -25px;
    margin-left: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-12 {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin: 5px;
    float: left;
}
.col-xs-4{
    float: left;
    margin: 20px;
}
.m-smallPadding{
    margin-top: -30px;
}
#about{
    float: right;
}
.price{
    margin-top: 5px;
    margin-right: 20px;
}